 .alert {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  z-index: 1000;

  &--close {
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #000;
  }
  
  &--title {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
    margin-bottom: .8rem;
  }

  &--content {
    color: #6B7583;
  }
  
  &--dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 0;
    z-index: 0;
    transition-delay: 0s;
    backdrop-filter: blur(.4rem);
    transition: all 2s ease;
  }
  
  &--wrap {
    background: #fff;
    position: relative;
    z-index: 1;
    min-width: 32.7rem;
    padding: 3.2rem 2.4rem;
    opacity: 0;
    border-radius: 2.4rem;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 40%);
  }
  
  &--close-hide:focus {
    opacity: 1;
    bottom: 1rem;
  }
  
  &--close-hide {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -10rem;
    opacity: 0;
  }
  .btn--wrap {
    padding-top:2.4rem;
    display: flex;
    gap: 1rem;
  }
  .btn--box {
    min-height: 4.8rem;
    height: 4.8rem;
    font-size: 1.6rem;
  }
  &[data-type="center"] {
    align-items: center;

    &[aria-hidden="true"] {
      animation-name: modalClose;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      
      .alert--dim {
        animation-name: hide_alertDim;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      .alert--wrap {
        animation-name: hide_alert;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
      }
    }

    &[aria-hidden="false"] {
      display: flex;

      .alert--dim {
        animation-name: show_alertDim;
        animation-delay: .1s;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      .alert--wrap {
        animation-name: show_alert;
        animation-delay: .2s;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
      }
    }
  }

}

@keyframes modalClose {
  0% {
    opacity: 1;
    display: flex;
  }

  97% {
    opacity: 0;
    display: flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes show_alertDim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide_alertDim {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show_alert {
  0% {
    opacity: 0;
    scale: 0.8;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes hide_alert {
  0% {
    opacity: 1;
    scale: 1;
  }

  100% {
    opacity: 0;
    scale: 0.5;
  }
}

@keyframes show_bottom_wrapAni {
  0% {
    opacity: 0;
    transform: translateY(100dvh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide_bottom_wrapAni {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100dvh);
  }
}

@keyframes show_page_wrapAni {
  0% {
    opacity: 1;
    transform: translateX(100dvh);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hide_page_wrapAni {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(100dvh);
  }
}