body[data-page-swiper="on"] {
  .layer-item[data-type="bottom-sheet"],
  .base-wrap {
    width: 100%;
    transform: translateX(-100vw);
    transition: transform 320ms cubic-bezier(0, 0, 0.5, 1);
    transition-delay: 130ms;
  }
}
body[data-page-swiper="off"] {
  .layer-item[data-type="bottom-sheet"],
  .base-wrap {
    width: 100%;
    transform: translateX(0);
    transition: transform 180ms cubic-bezier(0, 0, 0.5, 1);
    transition-delay: 0;
  }
}
body[data-layer="true"] .base-layer {
  pointer-events: visible;
}
.base-layer {
  position: absolute;
  max-width: var(--max_width);
  height: 100%;
  top:0;
  width:100%;

  // width: calc(100% + 2px);
  // left:calc(50% - 1px);
  // transform: translate(-50%);
  overflow: hidden;
  pointer-events: none;
}
.layer-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  z-index: 100;

  &--close {
    position: absolute;
    top: 1.3rem;
    right: 2.4rem;
    width: 3rem;
    height: 3rem;
    background-image: $close;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 3rem;
  }
  
  &--title {
    font-size: 2rem;
    font-weight: 700;
    padding: 0;
    margin-bottom: 1.6rem;
    max-width: calc(100% - 13rem);
    text-align: center;
    line-height: 1.2;
    word-break: break-all;
  }
  
  &--dim {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: 0;
    transition-delay: 1s;
    backdrop-filter: blur(.4rem);
    transition: all 2s ease;
  }
  
  &--wrap {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 0;
    opacity: 0;
    border-radius: 2.4rem;
    box-shadow: 0 0 .8rem rgba(0, 0, 0, 40%);
    display: flex;
    flex-direction: column;
  }
  
  &--close-hide:focus {
    opacity: 1;
    bottom: 1rem;
  }
  
  &--close-hide {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: -10rem;
    opacity: 0;
  }

  &[data-type="bottom-sheet"] {
    align-items: flex-end;
    .layer-item--close {
      top: 1.9rem;
      right: 1.9rem;
    }
    .layer-item--title {
      font-size: 2.2rem;
      font-weight: 700;
      line-height: 1.5;
      padding: 0;
      margin-bottom: 0;
      color: #101010;
    }
    .layer-item--head {
      padding: 4rem 2.4rem 2.4rem;
      max-width: var(--max_width);
      width: 100%;
      margin: 0 auto;
    }
    .layer-item--wrap {
      width: 100%;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    .layer-item--body {
      // padding:0 2.4rem 2.4rem;
      max-width: var(--max_width);
      width: 100%;
      margin: 0 auto;

			max-height:calc(100dvh - 12.6rem) !important;
			overflow-y: auto;
		}
    .layer-item--foot {
      padding:2.4rem 2.4rem 4rem;
      max-width: var(--max_width);
      width: 100%;
      margin: 0 auto;
    }

    &[aria-hidden="true"] {
      animation-name: modalClose;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      .layer-item--dim {
        animation-name: hide_dimAni;
        animation-duration: .4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      .layer-item--wrap {
        animation-name: hide_bottom_wrapAni;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
      }
    }

    &[aria-hidden="false"] {
      display: flex;

      .layer-item--dim {
        animation-name: show_dimAni;
        animation-delay: .1s;
        animation-duration: .3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      .layer-item--wrap {
        animation-name: show_bottom_wrapAni;
        animation-delay: 100ms;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
      }
    }
  }

  &[data-type="center"] {
    align-items: center;

    &[aria-hidden="true"] {
      animation-name: modalClose;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      
      .layer-item--dim {
        animation-name: hide_dimAni;
        animation-duration: .4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      .layer-item--wrap {
        animation-name: hide_wrapAni;
        animation-duration: .2s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
      }
    }

    &[aria-hidden="false"] {
      display: flex;

      .layer-item--dim {
        animation-name: show_dimAni;
        animation-delay: .1s;
        animation-duration: .3s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
      }

      .layer-item--wrap {
        animation-name: show_wrapAni;
        animation-delay: .2s;
        animation-duration: .4s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
      }
    }
  }

  &[data-type="full-page"] {
    align-items: flex-start;

    .layer-item--wrap {
      width: 100%;
      min-height: 100dvh;
      border-radius: 0;
    }
    .layer-item--body {
      overflow-y: auto;
      overflow-x: hidden;
      max-height:calc(100dvh - 5.6rem) !important;
      padding-bottom: 4rem;
    }

    [data-foot="true"] {
      .layer-item--body {
        overflow-y: auto;
        overflow-x: hidden;
        max-height:calc(100dvh - (5.6rem + 12.8rem)) !important;
      }
    }
   
    .layer-item--head {
      height: 5.6rem;
      display: flex;
      justify-content: center;
      align-items: center;
  
      .layer-item--title {
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: 700;
        padding: 0;
      }
    }
    .layer-item--foot {
      padding:2.4rem 2.4rem 4rem;
    }
    &[aria-hidden="true"] {
      animation-name: modalClose;
      animation-duration: 1s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      .layer-item--wrap {
        animation-name: hide_page_wrapAni;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
      }
    }

    &[aria-hidden="false"] {
      display: flex;

      .layer-item--wrap {
        animation-name: show_page_wrapAni;
        animation-delay: 100ms;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
      }
    }
  }
}

@keyframes modalClose {
  0% {
    opacity: 1;
    display: flex;
  }

  97% {
    opacity: 0;
    display: flex;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes show_dimAni {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide_dimAni {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes show_wrapAni {
  0% {
    opacity: 0;
    scale: 0.8;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@keyframes hide_wrapAni {
  0% {
    opacity: 1;
    scale: 1;
  }

  100% {
    opacity: 0;
    scale: 0.5;
  }
}

@keyframes show_bottom_wrapAni {
  0% {
    opacity: 0;
    transform: translateY(100dvh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hide_bottom_wrapAni {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(100dvh);
  }
}

@keyframes show_page_wrapAni {
  0% {
    opacity: 1;
    transform: translateX(100dvh);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes hide_page_wrapAni {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    transform: translateX(100dvh);
  }
}