.base-toast {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    z-index: 2000;
    gap: .8rem;
    width: 100%;
    left:0;
    
    .toast:first-child {
        margin-bottom: $x1;
    }
}
.toast {
    position: relative;
    width: calc(100vw - $x4);
    max-width: 40rem;
    border-radius: $x1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 95%);
    color:#fff;
    font-size: 1.6rem;
    padding: 1.2rem 2.4rem;
    word-break: keep-all;
    transform: translateY(10rem);
    opacity: 0;

    &[aria-hidden="false"] {
        animation-name: show_toast;
        animation-delay: 100ms;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
    }
    &[aria-hidden="true"] {
        opacity: 1;
        animation-name: hide_toast;
        animation-duration: 300ms;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0, 0, 0.5, 1);
    }
}

@keyframes show_toast {
    0% {transform: translateY(10rem); opacity: 0;}
    100% {transform: translateY(0); opacity: 1;}
}
@keyframes hide_toast {
    0% {transform: translateY(0);margin-bottom: 0; opacity: 1;}
    100% {transform: translateY(0);margin-bottom: -4.8rem; opacity: 0;}
}