body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: url(@/assets/images/bg.jpg) no-repeat 50% 0 / cover;
  background-attachment: fixed;
  overflow: hidden;
}
.base-alert{
  position: absolute;
  z-index: 1500;
}
body[data-layer="true"] .base-layer {
  pointer-events: visible;
}
.base-layer {
  position: fixed;
  max-width: var(--max_width);
  height: 100%;
  top:0;
  width:100%;

  // width: calc(100% + 2px);
  // left:calc(50% - 1px);
  // transform: translate(-50%);
  overflow: hidden;
  pointer-events: none;
}
.base-wrap {
  position: relative;
  z-index: 0;
  max-width: 100vw;
  width: 100vw;
  background-color: transparent;
}
.base-wrap + .base-wrap {
  z-index: -1;
}
.base-main,
.base-header{
  background-color: #fff;
}
.base-footer {
  background-color: #F7F7F7;
  .wrap-sec{
    display: flex;
    width: 100%;
    max-width: var(--max_width);
    flex-direction: column;
    gap:3.2rem;
    padding:5.6rem 2.4rem 6rem;
    margin:0 auto;
  }
  &--ci {
    display: block;
    width: 14.6rem;
  }
  &--link {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.6rem;
    color: #000;
    font-weight: 300;
    gap:1.2rem;
   
    a {
      text-decoration: none;
    }
    strong {
      font-weight: 700;
    }
  }
  &--info {
    display: flex;
    flex-direction: column;
    gap:2.4rem;
  }
  &--address {
    font-size: 1.4rem;
    color: #666;
    font-weight: 300;
  }
  &--copyright {
    font-size: 1.2rem;
    color: #999;
    font-weight: 300;
  }
}

.wrap {
  display: flex;
  justify-content: center;
}
.desktop-body{
  max-width: var(--max_width);
  width: 100%;
  position: relative;
}
.desktop-body > .subject-group,
.desktop-footer{display: none;}

.subject-group[data-style="desktop"] {
  gap:4.8rem;
  .ci{
    width: 19.4rem;
  }
  .subject-group--heading {
    font-family: 'KBF';
    font-size: 4.8rem;
    line-height: 1.5;
    color:#505866;
    font-weight: 300;
    b {
      display:block;
      font-weight: 700;
      color:#000;
    }
  }
}

@media (hover: hover) and (pointer: fine) and (min-width:1090px) {
  //pc
  body {
    overflow: visible;
  }
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .wrap-app{max-width: 46.4rem !important;}
  .desktop-body > .subject-group,
  .desktop-footer{display: flex;}
  // .wrap-app .base-footer {display: none;}
  .desktop-body {
    max-width: 109rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 0;
    align-items: center;
    padding:0;
  }
  .desktop-footer {
    width: 100%;
    background-color: #F7F7F7;
    padding:8rem 4rem 8.6rem;
    display: flex;
    justify-content: center;

    .base-footer {
      max-width: 109rem;
      width: 100%;
    }
    .base-footer .wrap-sec {
      max-width: 100%;
      padding: 0;
    }
    .base-footer--ci {
      width: 19.4rem;
    }
    .base-footer--link .btn--text {
      font-family: 'KBF';
      font-size: 1.6rem;
    }
    .base-footer--address {
      font-family: 'KBF';
      span {display: block; margin: .4rem 0;}
      span br {display: none;}
    }
  }

  ::-webkit-scrollbar {
    width: .8rem;
    height: 1.2rem;
    background-color: transparent;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: .8rem;
    background-clip: padding-box;
    border: .1rem solid transparent;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  :hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 200ms;
  }
}


//transition
.next-leave-to {
  width: 100vw;
  min-width: 100%;
  max-width: var(--max_width);
  animation: leaveToLeft 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
}

.next-enter-to {
  position: absolute !important;
  top:0;
  width: 100vw;
  min-width: 100%;
  max-width: var(--max_width);  
  animation: enterFromRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1 !important;
}

.prev-leave-to {
  width: 100vw;
  min-width: 100%;
  max-width: var(--max_width);
  animation: leaveToRight 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
}

.prev-enter-to {
  position: absolute !important;
  top:0;
  width: 100vw;
  min-width: 100%;  
  max-width: var(--max_width);  
  animation: enterFromLeft 500ms both cubic-bezier(0.165, 0.84, 0.44, 1);
  z-index: 1 !important;
}

@keyframes leaveToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes enterFromRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}


@keyframes leaveToRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes enterFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}