.hero {
	.swiper-slide {
		padding: 0 2.4rem 22rem;
		width: 100%;
		height: 100dvh;
		display:flex;
		flex-direction:column;
		justify-content: flex-end;
		align-items: center;
	}
	.swiper-pagination {
		top:auto !important;
		bottom: 18rem !important;
	}
	.swiper-pagination-bullet {
		width: .8rem;
		height: .8rem;
		background: #fff;
        border-radius: .4rem;
        opacity: 1;
	}
	.swiper-pagination-bullet-active {
		width: 2rem;
		background: #111;;
	}
	.swiper-slide-active .subject-group {
		animation: titleShow;
		animation-delay: 400ms;
		animation-duration: 500ms;
		animation-fill-mode: forwards;
		animation-timing-function: cubic-bezier(0,0,0.5,1);
	}
	.subject-group {
		transform: translateY(10rem);
		opacity: 0;
		gap:1.2rem;
		width: 100%;
		max-width: 40rem;
		.ci {
			width: 14.6rem;
			margin-bottom:1.2rem;
		}
	}
	.subject-group--heading {
		font-size:2.8rem;
		line-height: 1.4;
		color: #111;
		font-weight: 700;
	}

	@keyframes titleShow {
		0% 	{transform: translateY(5rem); opacity: 0;}
		100% {transform: translateY(0rem); opacity: 1;}
	}
}